* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
    background: #1d1d1d;
    color: #ffffff;
    padding-top: 15px;
    min-height: 80px;
    border-bottom: #5E4238 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #institution {
    float: left;
}

header #institution h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #5E4238;
    font-weight: bold;
}

header a:hover {
    color: #B48A7C;
    /*    font-weight: bold; **/
}

/*Link*/
#links {
    background: #1d1d1d;
    color: #ffffff;
    padding-top: 5px;
    min-height: 75px;
    border-bottom: #5E4238 3px solid;
}

#links a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

#links li {
    display: inline;
    padding: 0 20px 0 20px;
}

#links #month_links h3 {
    margin: 0;
}

#links nav {
    margin-top: 10px;
}

#links .current a {
    color: #5E4238;
    font-weight: bold;
}

#links a:hover {
    color: #b48a7c;
}

/*Search Area**/
#search_area {
    padding: 15px;
    color: #ffffff;
    background: #1d1d1d;
}

#search_area input[type="text"] {
    float: left;
    padding: 4px;
    height: 33px;
    width: 450px;
}

.table-container {
    padding: 0 10%;
    margin: 0 auto 0;
}

.table-container .heading {
    text-align: center;
    text-transform: uppercase;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.36px;
    padding: 15px;
}

.table thead tr th {
    font-size: 300;
    font-weight: medium;
    letter-spacing: 0.36px;
    /*color: #ffffff;*/
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #6f6f6f;
}

.table tbody tr td {
    font-size: 11px;
    letter-spacing: 0.36px;
    font-weight: normal;
    padding: 6px;
    text-align: center;
    border: 1px solid #6f6f6f;
}






.table tr:nth-child(even) {
    background-color: #cdcdcd;
}







/*Footer*/
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #1d1d1d;
    text-align: center;
}

footer .highlight {
    color: #5E4238;
    font-weight: bold;
}
